body {
  background-image: url('background.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  overflow: hidden;
}

#message {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 36pt;
  color: white;
}

.container {
  width: 80%;
  min-height: 20%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto !important;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  vertical-align: middle;
}

#telephone {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60;
  background-color: black;
  color: green;
  padding-top: 10px;
  font-size: 24pt;
  text-align: center;
  vertical-align: middle;
}

#by {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24pt;
  padding-top: 5px;
  color: lightgray;
  text-align: right;
}
